.search_bar {
    position: relative;
    height: 100%;
    width: 100%;
    float: left; 
    box-sizing: border-box ;
}

input.search_input {
    width: 100%;
    outline: none;
    float: left;
    height: 100%;
    font-size: 24px;
}

input.search_input::-webkit-input-placeholder {
    content: "Search Everthing";
    padding-left: 36px;
}

button.search_button {
    position: absolute;
    height: 56px;
    line-height: 56px;
    left: 9px;
    width:25px;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: left 0.3s ease;
    padding: 0;
    cursor: pointer;
}

.search_bar.input_filled .search_button{
	left:calc( 100% - 45px);
}